.exampe-card
{
  max-width:250px;
  justify-items: auto;
height: 200px;
}
mat-card{
  text-align: center;
  height: 150px;

}
.column {
  float :left;
  width :25.33%;
  padding: 10px;
  text-align:center;
  font-size: 20px;
  color: white;
}
.row{
  height: 1000px;
 padding: 10px;
}
